.product-date {
  background-color: #2b356b;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-width: 150px;
  height: 150px;
  box-shadow: 0 4px 10px rgba(63, 81, 181, 0.2);
}

.month {
  font-size: 20px;
  font-weight: bold;
}

.day {
  font-size: 25px;
  font-weight: bold;
 border-radius: 20px;
margin-top: 10px;

}

.year {
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 15px;
  padding-bottom: 4px;
}

.date{
    background-color: white;
    color: black;
     border-radius: 10px;
     padding: 1px;
     margin-top: 7px;
    
}
@media (max-width: 768px) {
  .product-date {
    width: 120px;
    height: auto;
    padding: 8px;
  }

  .month {
    font-size: 16px;
  }

  .day,
  .year {
    font-size: 20px;
    margin-top: 8px;
  }
}

@media (max-width: 480px) {
  .product-date {
    width: 100px;
    height: auto;
    padding: 6px;
  }

  .month {
    font-size: 14px;
  }

  .day,
  .year {
    font-size: 18px;
    margin-top: 6px;
  }
}