/* .pie-chart-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
   background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0 auto;
  width: 500px;
}
 */

.pie-chart-title {
    text-align: center;
  margin-bottom: 30px;
  color: #2b356b !important; /* Match your theme */
  font-size: 32px !important;
  font-weight: 500 !important;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

/* width: 500px; */

.pie-chart-wrapper,
.bar-chart-card {
  width: 100%;  /* allow flexbox to control width */
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.pie-chart{
  margin-top: 30px;
}
