@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: visible;
}

.slick-slider,
.slick-track,
.slick-slide {
  overflow: visible !important;
}


/* tailwind.config.js → add to extend */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section {
  overflow: visible;
}
/* Optional external fallback */
.group:hover .hover-preview {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
